body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #131313;
}

button {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}

button:hover,
label:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1236px;
  margin: 0 auto;
}

.container-bigger {
  width: 1256px;
  margin: 0 auto;
}

.div-brown {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #E3B873;
  border: 1px solid #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.btn {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-brown {
  background: #E3B873;
  border: 1px solid #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.btn-brown:hover {
  background-color: #dba249;
  border: 1px solid #ffffff;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.btn-transparent:hover {
  background-color: #dba249;
}

.btn-flex-block {
  font-family: "Yeseva One";
  padding: 17px 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  bottom: -8%;
  left: 0;
}

.btn__submit {
  padding: 15px 75px;
  border-radius: 2px;
  font-size: 15px;
  line-height: 26px;
}

.title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.title-img {
  margin-bottom: 30px;
  margin-top: 13px;
}

.title-img img {
  display: block;
  margin: 0 auto;
}

.descr {
  margin: 0 auto;
  text-align: center;
  width: 470px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  font-weight: normal;
}

.items-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-flex__descr {
  padding-left: 35px;
  padding-bottom: 49px;
  margin-top: -35%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 6%;
  width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.item-flex li {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.item-flex__title {
  margin-bottom: 13px;
  padding-top: 25px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.black-form {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.black-form::-webkit-input-placeholder {
  color: #ffffff;
}

.black-form::-moz-placeholder {
  color: #ffffff;
}

.black-form:-moz-placeholder {
  color: #ffffff;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__dot {
  margin-right: 18px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.slider__dot:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

.slider__dot-active {
  margin-left: 30px;
  background-color: #ffffff;
}

.slider__arrow {
  background-color: transparent;
}

.slider__arrow:hover {
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
}

.slider__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__arrow-left-btn {
  margin-left: 12px;
}

.mr-0 {
  margin-right: 0;
}

.label-ib {
  display: inline-block;
}

.label-ib input {
  width: 231px;
}

.checkbox-label {
  display: block;
  position: relative;
  text-align: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
}

.checkbox-label input {
  z-index: -1;
  opacity: 0;
}

.checkbox-label input:checked ~ .checkbox-div:after {
  display: block;
}

.checkbox-label .checkbox-div:after {
  content: url(../img/checkbox.svg);
  width: 18px;
  height: 18px;
  background: #E3B873;
  border: 1px solid #E3B873;
  border-radius: 1px;
}

.checkbox-div {
  display: inline-block;
  position: absolute;
  left: 32%;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
}

.checkbox-div:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: none;
  border: 1px solid transparent;
  border-radius: 1px;
  text-align: center;
}

.header {
  background-color: #131313;
}

.header-wrap {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a {
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin-right: 47px;
  list-style-type: none;
}

.header-nav__item a {
  text-decoration: none;
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header-nav__item a:hover {
  color: #E3B873;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-call__phone {
  margin-right: 45px;
  border-bottom: 1px solid #E3B873;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

.header-call__btn {
  padding: 13px 33px;
  border-radius: 2px;
}

.main {
  position: relative;
  max-height: 747px;
  margin-bottom: 40px;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  z-index: 1;
}

.main::after, .main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 94%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  display: block;
}

.main::before {
  width: 6%;
  left: 0;
  background: #131313;
  margin-top: -1px;
}

.main-instagram-block {
  display: inline-block;
}

.main-instagram-block__link {
  position: absolute;
  width: 3%;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-instagram-block img {
  position: absolute;
  left: 280%;
  top: -110%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-text {
  margin-left: 60px;
  display: inline-block;
  width: 45%;
}

.main__title {
  margin-top: 194px;
  margin-bottom: 25px;
  font-family: "Yeseva One";
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.main__title span {
  color: #E3B873;
}

.main__descr {
  margin-bottom: 45px;
  width: 76%;
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.main__descr li {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.main__descr-title {
  margin-bottom: 13px;
  padding-top: 25px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.main-btns {
  margin-bottom: 206px;
}

.main-btn-calc {
  margin-right: 20px;
  padding: 20px 41px;
  border-radius: 2px;
}

.main-btn-submit {
  padding: 20px 21px;
  border-radius: 2px;
}

.main-scroll {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 247px;
  height: 97px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #131313;
  color: #ffffff;
}

.main-scroll:hover {
  color: #E3B873;
}

.main-scroll__text {
  margin-right: 12px;
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.main-scroll__sign {
  position: relative;
  width: 29px;
  height: 29px;
  border: 1px solid #E3B873;
  border-radius: 50%;
}

.main-scroll__sign::after {
  position: absolute;
  content: '';
  height: 8px;
  width: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/scroll-sign.svg");
  background-repeat: no-repeat;
}

.projects {
  overflow-x: hidden;
}

.projects-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 27% 13% 60%;
      grid-template-columns: 27% 13% 60%;
}

.projects-details__title {
  margin-top: 128px;
  margin-bottom: 34px;
  width: 260px;
  font-family: "Yeseva One";
  font-size: 27px;
  font-weight: normal;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.projects-details__title::after {
  margin-left: 31px;
  content: '---------';
  color: #E3B873;
}

.projects-details__descr {
  margin-bottom: 42px;
  width: 440px;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}

.projects-details__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.projects-details__item {
  height: 75px;
}

.projects-details__item-title {
  margin-bottom: 9px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #E3B873;
}

.projects-details__item-descr {
  width: 100px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects-details__item-top {
  margin-bottom: 34px;
}

.projects-other-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  margin-bottom: 45px;
}

.projects-other-nav li {
  list-style-type: none;
  margin-right: 60px;
}

.projects-other-nav li:last-child {
  margin-right: 0;
}

.projects-other-nav li a {
  padding-bottom: 7px;
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.projects-other-nav li a:hover {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.projects-other-slider {
  position: relative;
  margin-bottom: 92px;
}

.projects-other-slider img:first-child {
  margin-right: 2.5%;
}

.projects-other-slider__photo-right {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects-other-slider_btn {
  position: absolute;
  top: 50%;
  right: -7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.projects-other-slider_btn img {
  vertical-align: middle;
}

.projects-other-slider_btn-left {
  display: none;
}

.projects-other-slider-mobile {
  display: none;
}

.online {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #131313), color-stop(30%, #fbfbfa), to(#fbfbfa));
  background: linear-gradient(to bottom, #131313 30%, #fbfbfa 30%, #fbfbfa 100%);
}

.online-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 33px;
}

.online__title {
  color: #ffffff;
}

.online-video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 814px;
  height: 434px;
  position: relative;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.online-video:hover::before {
  cursor: pointer;
}

.online-video-btn {
  position: absolute;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.online-video__poster {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/online/video.jpg");
  background-size: cover;
}

.online-video iframe {
  width: 814px;
  height: 434px;
  display: block;
  margin: 0 auto;
}

.online-descr {
  position: relative;
  margin: 35px auto 91px auto;
  width: 680px;
  color: #363636;
}

.online-descr::before {
  position: absolute;
  content: '';
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #E3B873;
  height: 1px;
  width: 55px;
}

.online-form {
  color: #363636;
}

.online-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 147px;
}

.online-form__checkbox-label-mobile {
  display: none;
}

.online-form .checkbox-label {
  color: #131313;
  font-size: 16px;
  line-height: 22px;
}

.online-label {
  margin-right: 49px;
  width: 231px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.online-input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background-color: transparent;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #131313;
}

.online-input::-webkit-input-placeholder {
  color: #131313;
}

.online-input::-moz-placeholder {
  color: #131313;
  opacity: 1;
}

.online-input:-moz-placeholder {
  color: #131313;
  opacity: 1;
}

.online-btn {
  margin-left: 49px;
}

.repair {
  margin-top: -1px;
  background-color: #fbfbfa;
  padding-bottom: 154px;
  overflow-x: hidden;
}

.repair__checkbox-label {
  margin-bottom: 39px;
  color: #ffffff;
  text-align: left;
}

.repair__checkbox-label .checkbox-div {
  left: 0;
}

.repair__checkbox-input {
  margin-right: 10px;
}

.repair__title {
  margin-bottom: 13px;
  color: #131313;
}

.repair-items {
  padding-bottom: 125px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repair-item {
  position: relative;
}

.repair-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  padding-bottom: 129px;
}

.repair-form__list {
  position: relative;
  margin-bottom: 90px;
}

.repair-form__list-circle {
  position: absolute;
  margin-left: -35%;
  width: 600px;
  height: 600px;
  top: 10%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfa), to(#fbfbfa)) padding-box, -webkit-gradient(linear, left top, right top, from(#fbfbfa), color-stop(20%, #fbfbfa), color-stop(20%, #fbfbfa), to(#E3B873)) border-box;
  background: linear-gradient(#fbfbfa, #fbfbfa) padding-box, linear-gradient(to right, #fbfbfa 0%, #fbfbfa 20%, #fbfbfa 20%, #E3B873 100%) border-box;
  border: 3px solid transparent;
}

.repair-form__list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -15%;
  top: 0;
  background-image: url("../img/repair/build-online.svg");
  background-size: cover;
}

.repair-form__form {
  padding-left: 49px;
  padding-right: 49px;
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: #131313;
}

.repair-form-title {
  width: 290px;
  margin: 0 auto 39px auto;
  padding-top: 28px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.repair-form__label {
  display: block;
  margin-bottom: 48px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: #959595;
}

.repair-form__label input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.repair-form__label input::-webkit-input-placeholder {
  color: #ffffff;
}

.repair-form__label input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.repair-form__label input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.repair-form__label-email {
  margin-bottom: 16px;
}

.repair-form__checkbox {
  display: block;
  margin-bottom: 57px;
  margin-top: 16px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.repair-form__btn {
  margin-bottom: 27px;
  padding: 17px 45px;
  margin-left: 48%;
}

.repair-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.repair-save__descr {
  width: 220px;
  font-family: "FuturaDemiC";
  font-size: 18px;
  line-height: 25px;
  color: #E3B873;
}

.repair-save__img {
  position: relative;
  margin-right: 25px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #E3B873;
}

.repair-save__img::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 33px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/repair/save.svg");
  background-repeat: no-repeat;
}

.repair-realize {
  margin-top: 120px;
  position: relative;
  background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("../img/repair/realize-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.repair-realize-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repair-realize__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 60%;
}

.repair-realize__photos-left {
  position: absolute;
  margin-right: 43px;
  top: -30px;
}

.repair-realize__photos-right {
  position: absolute;
  right: 0;
  top: -110px;
}

.repair-realize-title {
  width: 300px;
  padding-top: 137px;
  padding-bottom: 47px;
  font-family: "Yeseva One";
  font-size: 27px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.repair-realize__list {
  padding-bottom: 65px;
}

.repair-realize__list li {
  list-style-type: none;
  margin-bottom: 20px;
}

.repair-realize__list li a {
  padding-bottom: 5px;
  font-family: "FuturaBookC";
  font-size: 23px;
  line-height: 30px;
  color: #ffffff;
}

.repair-realize__list li a:hover {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.repair-realize__slider {
  display: none;
}

.repair-wrap-left {
  padding-top: 130px;
}

.repair-list {
  position: absolute;
  z-index: 1;
  top: 23%;
  right: 20%;
}

.repair-list__item {
  position: relative;
  list-style-type: none;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.repair-list__item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  content: '01';
  left: -80px;
  top: -25%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #E3B873;
  border: 10px solid #fbfbfa;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.repair-list__item-01 {
  width: 364px;
  left: 45%;
  margin-bottom: 79px;
}

.repair-list__item-02 {
  left: 61%;
  margin-bottom: 141px;
}

.repair-list__item-02::before {
  content: '02';
  top: -100%;
}

.repair-list__item-03 {
  left: 61%;
  margin-bottom: 128px;
}

.repair-list__item-03::before {
  content: '03';
  top: -100%;
}

.repair-list__item-04 {
  left: 40%;
  width: 245px;
  top: -15px;
}

.repair-list__item-04::before {
  content: '04';
  top: -30%;
}

.realize__photo-top {
  margin-bottom: 39px;
}

.design {
  margin-top: -1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #fbfbfa), color-stop(27%, #131313), to(#131313));
  background: linear-gradient(to bottom, #fbfbfa 27%, #131313 27%, #131313 100%);
}

.design-descr {
  width: 760px;
  margin-bottom: 40px;
  color: #363636;
}

.design-items {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-item {
  position: relative;
}

.design-item__descr {
  top: 52%;
}

.design-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design-steps__subtitle {
  margin-bottom: 18px;
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.design-steps__title {
  position: relative;
  margin-bottom: 90px;
  width: 200px;
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  color: #E3B873;
}

.design-steps__title::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #E3B873;
  height: 1px;
  width: 92px;
}

.design-steps-slider__num {
  margin-bottom: 22px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.design-steps-slider__title {
  width: 250px;
  margin-bottom: 16px;
  font-family: "Yeseva One";
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  color: #E3B873;
}

.design-steps-slider__descr {
  margin-right: 137px;
  margin-bottom: 100px;
  width: 337px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.design-steps-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-steps-img {
  margin-bottom: 96px;
}

.design-steps-points {
  margin-top: 60px;
}

.design-point {
  width: 140px;
  opacity: 0.3;
  margin-bottom: 36px;
}

.design-point-active {
  opacity: 1;
}

.design-point__num {
  display: inline-block;
  padding-bottom: 3px;
  margin-bottom: 17px;
  border-bottom: 1px solid #ffffff;
  font-family: "Yeseva One";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.design-point__num-active {
  border-bottom: 1px solid #E3B873;
}

.design-point__descr {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.team {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #131313), color-stop(45%, #fbfbfa), to(#fbfbfa));
  background: linear-gradient(to bottom, #131313 45%, #fbfbfa 45%, #fbfbfa 100%);
}

.team-title {
  font-family: "Yeseva One";
  font-size: 20px;
  color: #ffffff;
}

.team-descr {
  width: 470px;
  margin-bottom: 80px;
}

.team-persons {
  margin-bottom: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-person {
  position: relative;
}

.team-person-sign {
  position: absolute;
  top: -35px;
  left: -35px;
  padding: 13px 14px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}

.team-person__descr {
  position: absolute;
  bottom: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  width: 90%;
}

.team-person__name {
  margin-bottom: 10px;
  padding-top: 22px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #363636;
}

.team-person__position {
  margin-bottom: 24px;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
}

.team-person__btn {
  padding: 13px 23px;
}

.team-conclusion {
  position: relative;
  margin-top: 17px;
  padding-bottom: 90px;
  width: 558px;
  color: #363636;
}

.team-conclusion::before {
  position: absolute;
  content: '';
  top: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #E3B873;
  height: 1px;
  width: 55px;
}

.clients {
  margin-top: -1px;
  background-color: #fbfbfa;
}

.clients__descr {
  margin-bottom: 40px;
  width: 380px;
  color: #363636;
}

.clients__persons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 130px;
}

.clients__person {
  position: relative;
  background-color: #ffffff;
}

.clients__person-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__person-img {
  padding: 25px 23px 22px 20px;
}

.clients__person-name {
  width: 178px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 23px;
  color: #131313;
}

.clients__person-descr {
  padding-bottom: 85px;
  padding-left: 20px;
  padding-right: 31px;
  width: 324px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 180%;
  color: #959595;
}

.clients-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -30px;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.clients-data img {
  padding: 11px 15px 11px 17px;
}

.clients-data__days, .clients-data__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
}

.clients-data__size {
  border-right: 1px solid #ffffff;
}

.question {
  margin-top: -1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fbfbfa), color-stop(50%, #131313), to(#131313));
  background: linear-gradient(to bottom, #fbfbfa 50%, #131313 50%, #131313 100%);
}

.question-form-bg {
  margin: 0 auto;
  width: 883px;
  background-color: #131313;
}

.question-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question-flex .mr-0 {
  margin-right: 0;
}

.question__checkbox-label {
  margin-top: 46px;
  margin-bottom: 50px;
}

.question-label {
  margin-right: 49px;
  width: 231px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.question-label input {
  width: 231px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.question-label input::-webkit-input-placeholder {
  color: #ffffff;
}

.question-label input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.question-label input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.question-form {
  margin: 0 auto;
  margin-bottom: 52px;
  width: 520px;
  color: #ffffff;
}

.question-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 33px;
}

.question-form__checkbox-label {
  display: block;
  text-align: center;
  margin-top: 46px;
  margin-bottom: 50px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.question-form-title {
  padding-top: 33px;
  margin-bottom: 46px;
  color: #ffffff;
}

.question-btn {
  display: block;
  margin: 0 auto;
}

.question__label-question {
  margin-top: 48px;
}

.question-flex .question__label-question,
.question-flex .question__input-question {
  display: block;
  width: 100%;
}

.question-form .question-form__checkbox-label {
  color: #ffffff;
}

.question__checkbox-label .checkbox-div {
  left: 21%;
}

.contacts__address {
  margin: 0 auto;
  width: 580px;
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.contacts__address a {
  color: #E3B873;
  text-decoration: none;
}

.contacts__networks {
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__networks img {
  vertical-align: middle;
}

.contacts-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #E3B873;
  border: 1px solid transparent;
}

.contacts-btn img {
  margin-left: -10%;
  width: 120%;
}

.contacts-btn:first-child {
  margin-right: 15px;
}

.contacts-btn:hover {
  background-color: #dba249;
  border: 1px solid #ffffff;
}

.contacts__map {
  padding-bottom: 66px;
}

.contacts__map img {
  margin: 0 auto;
  display: block;
}

.footer {
  background-color: #131313;
}

.footer-wrap {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo a {
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav__item {
  margin-right: 47px;
  list-style-type: none;
}

.footer-nav__item a {
  text-decoration: none;
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.footer-nav__item a:hover {
  color: #E3B873;
}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-call__phone {
  margin-right: 45px;
  border-bottom: 1px solid #E3B873;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

.footer-call__btn {
  padding: 13px 33px;
  border-radius: 2px;
}

@media (max-width: 1300px) {
  .projects-other-slider__photo-right,
  .main-instagram-block,
  .main::before,
  .repair-list,
  .repair-form__list-circle,
  .repair-save {
    display: none;
  }
  .wrap {
    width: 1100px;
  }
  .container {
    width: 90%;
  }
  .container-bigger {
    width: 98%;
  }
  .header-call__phone,
  .footer-call__phone {
    margin-right: 15px;
  }
  .header-nav__item,
  .footer-nav__item {
    margin-right: 30px;
  }
  .main::after {
    width: 100%;
  }
  .main-text {
    width: 55%;
    margin-left: 0;
  }
  .main-scroll {
    padding: 34px 48px 0 43px;
  }
  .space {
    display: none;
  }
  .projects-wrap {
    -ms-grid-columns: 40%  60%;
        grid-template-columns: 40%  60%;
  }
  .projects-details__descr {
    width: 380px;
  }
  .projects-details__items {
    width: 350px;
  }
  .projects-other-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-other-nav li {
    margin-right: 0;
  }
  .projects-other-slider_btn {
    right: -8%;
  }
  .items-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .repair {
    padding-bottom: 90px;
  }
  .repair-items {
    padding-bottom: 60px;
  }
  .repair-item:last-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    margin-top: 60px;
  }
  .repair-form {
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    padding-bottom: 0;
  }
  .repair-form__form {
    margin-bottom: 0;
  }
  .repair-form__btn {
    margin-left: 0;
  }
  .repair-form__list {
    margin-bottom: 0;
  }
  .repair-realize {
    margin-top: 120px;
  }
  .repair-realize-title {
    padding-top: 120px;
  }
  .repair-realize__photos {
    width: 65%;
  }
  .repair-realize__photos-left, .repair-realize__photos-right {
    width: 48%;
    top: 10px;
  }
  .repair-realize__photos-left img, .repair-realize__photos-right img {
    width: 100%;
  }
  .repair-realize__photo {
    margin-bottom: 20px;
  }
  .repair-realize__list {
    padding-bottom: 45px;
  }
  .design {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fbfbfa), color-stop(70%, #131313), to(#131313));
    background: linear-gradient(to bottom, #fbfbfa 70%, #131313 70%, #131313 100%);
  }
  .design-items {
    margin-bottom: 100px;
  }
  .design-item:last-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    margin-top: 60px;
  }
  .design-steps {
    margin-top: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .design-steps-img {
    width: 100%;
  }
  .design-steps-points {
    margin-top: 0;
  }
  .design-steps-slider__descr {
    margin-bottom: 60px;
  }
  .clients__person:last-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    margin-top: 60px;
  }
  .list-item-hidden {
    display: none;
  }
  .title-img::after {
    right: 45%;
  }
}

@media (max-width: 1100px) {
  .projects-details__title::after,
  .design-steps,
  .main-scroll,
  .header-nav,
  .footer-nav,
  .repair-form__list,
  .repair-realize__photos,
  .footer {
    display: none;
  }
  .wrap {
    width: 860px;
  }
  .title {
    margin-bottom: 40px;
  }
  .descr {
    font-size: 18px;
    line-height: 25px;
  }
  .label-ib {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .label-ib input {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
  }
  .checkbox-div {
    left: 31%;
  }
  .main__title {
    font-size: 32px;
    margin-top: 130px;
    line-height: 50px;
  }
  .main-text {
    width: 63%;
  }
  .main__descr {
    width: 90%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
  }
  .main-btns {
    margin-bottom: 129px;
  }
  .main-btn-calc {
    padding: 18px 30px;
  }
  .main-btn-submit {
    padding: 18px 20px;
  }
  .projects-wrap {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin-top: 80px;
  }
  .projects-details__items {
    margin-bottom: 40px;
  }
  .projects-details__title {
    margin-top: 0;
  }
  .projects-other {
    margin-top: 20px;
  }
  .projects-other-nav {
    display: none;
  }
  .online-descr {
    width: 80%;
    margin: 60px auto 75px auto;
  }
  .online-form-wrap {
    display: block;
    padding-bottom: 100px;
  }
  .online-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .online-video {
    width: 80%;
    height: 350px;
    margin-bottom: 45px;
  }
  .online-video iframe {
    height: 350px;
  }
  .online-btn {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .design-descr,
  .repair-descr {
    width: 80%;
  }
  .design-items,
  .repair-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .design-item,
  .repair-item {
    margin-bottom: 60px;
  }
  .design-item:last-child,
  .repair-item:last-child {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
    margin-top: 0;
  }
  .repair-wrap-left {
    padding-top: 0;
  }
  .repair-form {
    display: block;
  }
  .repair-form__form {
    width: 50%;
    margin: 0 auto;
  }
  .repair-form__btn {
    width: 100%;
  }
  .repair-form__checkbox {
    font-size: 14px;
  }
  .repair-realize {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fbfbfa), color-stop(50%, #131313), to(#131313));
    background: linear-gradient(to bottom, #fbfbfa 50%, #131313 50%, #131313 100%);
  }
  .repair-realize-title {
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }
  .repair-realize-flex {
    display: block;
  }
  .repair-realize__list {
    display: none;
  }
  .repair-realize__slider {
    display: block;
    position: relative;
  }
  .repair-realize__slider-photo {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .repair-realize__btn {
    position: absolute;
    right: 12%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .repair-realize__btn-left {
    left: 12%;
  }
  .repair-realize__btn-left img {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .team-conclusion {
    width: 80%;
  }
  .question-form {
    padding: 0 50px;
  }
  .question-form__checkbox {
    width: 5%;
    display: inline-block;
  }
  .question-form .form__checkbox-input:checked:after {
    left: 3px;
  }
  .question__label-question {
    margin-top: 0;
  }
  .question-label {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .team {
    margin-top: 80px;
  }
  .team-persons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-person {
    margin-bottom: 130px;
  }
  .team-person:last-child {
    margin-bottom: 0;
  }
  .team-conclusion::before {
    display: none;
  }
  .clients__persons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients__person {
    margin-bottom: 100px;
  }
  .clients__person:last-child {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .clients__person-descr {
    padding-bottom: 60px;
  }
  .contacts__map img {
    width: 85%;
  }
  .contacts__address {
    font-size: 18px;
  }
  .question-form-bg {
    width: 100%;
  }
}

@media (max-width: 865px) {
  .header-call__btn,
  .footer-call__btn,
  .projects-slider-nav,
  .repair-form {
    display: none;
  }
  .wrap {
    width: 555px;
  }
  .title {
    font-size: 22px;
    line-height: 138.6%;
  }
  .label-ib {
    width: 100%;
  }
  .label-ib input {
    width: 100%;
  }
  .checkbox-div {
    left: 21%;
  }
  .main__title {
    margin-top: 85px;
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 132.83%;
  }
  .main-text {
    width: 85%;
  }
  .main__descr {
    margin-bottom: 32px;
    width: 100%;
    font-size: 18px;
  }
  .projects-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 36px;
  }
  .projects-details__title {
    margin: 0 auto;
    margin-bottom: 22px;
    text-align: center;
  }
  .projects-details__descr {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 62px;
    text-align: center;
  }
  .projects-other-slider__photo {
    width: 100%;
  }
  .projects-other-slider_btn {
    right: 2%;
    width: 37px;
    height: 37px;
  }
  .projects-other-slider_btn-left {
    display: block;
    left: 2%;
  }
  .projects-other-slider_btn-left img {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .online-video {
    width: 100%;
    height: 207px;
  }
  .online-video iframe {
    height: 207px;
  }
  .online-video-btn {
    width: 37px;
    height: 37px;
  }
  .online-video-btn img {
    width: 52%;
  }
  .online-btn {
    width: 100%;
  }
  .repair-realize {
    margin-top: 0;
  }
  .repair-realize-title {
    font-size: 22px;
    line-height: 138.6%;
  }
  .repair-realize__btn {
    right: 2%;
  }
  .repair-realize__btn-left {
    left: 2%;
  }
  .repair-realize__slider-photo {
    width: 100%;
  }
  .question-flex label {
    margin-bottom: 45px;
  }
  .question-btn {
    width: 100%;
  }
  .question-form {
    width: auto;
  }
  .question-form .form__checkbox-input:checked:after {
    left: 0px;
  }
  .question-form .question-form__checkbox-label {
    text-align: left;
  }
  .question__checkbox-label .checkbox-div {
    left: 13%;
  }
  .question-flex .question__label-question {
    margin-bottom: 0;
    margin-left: 0;
  }
  .contacts__address {
    width: auto;
  }
}

@media (max-width: 560px) {
  .clients {
    display: none;
  }
  .wrap {
    width: 375px;
  }
  .container {
    width: 338px;
  }
  .title {
    font-size: 22px;
    line-height: 138.6%;
    margin-bottom: 17px;
  }
  .descr {
    width: auto;
    font-size: 14px;
    line-height: 169.8%;
    text-align: center;
  }
  .item-flex__foto img {
    width: 340px;
  }
  .item-flex__descr {
    width: 241px;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .item-flex__descr li {
    font-size: 13px;
    line-height: 169.8%;
  }
  .item-flex__descr__title {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .header-wrap {
    height: 57px;
  }
  .header-nav, .header-call__btn {
    display: none;
  }
  .header-logo a, .header-call__phone {
    font-size: 12px;
  }
  .header-call__phone {
    margin-right: 0;
    color: #ffffff;
    border: none;
  }
  .main-instagram-block, .main-scroll {
    display: none;
  }
  .main-text {
    margin-left: 0;
    width: 100%;
  }
  .main__descr {
    width: 90%;
  }
  .main-btn-calc, .main-btn-submit {
    width: 100%;
  }
  .main-btn-calc {
    margin-right: 0;
    margin-bottom: 26px;
  }
  .main-btns {
    margin-bottom: 61px;
  }
  .projects-details__title {
    font-size: 22px;
    line-height: 138.6%;
    width: 50%;
  }
  .projects-details__descr {
    width: auto;
    font-size: 14px;
    line-height: 169.8%;
  }
  .projects-other-slider {
    display: none;
  }
  .projects-other-slider-mobile {
    display: block;
  }
  .btn-flex-block {
    padding: 11px 19px;
  }
  .repair {
    padding-bottom: 0;
  }
  .repair-items {
    padding-bottom: 40px;
  }
  .repair-item__descr {
    width: 241px;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .repair-item__descr li {
    font-size: 13px;
    line-height: 169.8%;
  }
  .repair-item__descr-title {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .online {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(93%, #131313), color-stop(93%, #fbfbfa), to(#fbfbfa));
    background: linear-gradient(to bottom, #131313 93%, #fbfbfa 93%, #fbfbfa 100%);
  }
  .online-label {
    color: #959595;
  }
  .online-label input {
    font-size: 16px;
    border-bottom: 1px solid #959595;
  }
  .online-label input::-webkit-input-placeholder {
    color: #ffffff;
  }
  .online-label input::-moz-placeholder {
    color: #ffffff;
  }
  .online-label input:-moz-placeholder {
    color: #ffffff;
  }
  .online-descr {
    margin-bottom: 60px;
    color: #ffffff;
  }
  .online-video video {
    margin-bottom: 51px;
    width: 340px;
  }
  .online-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .online-form__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 58px;
  }
  .online-form .checkbox-label {
    display: none;
  }
  .online-form .online-form__checkbox-label-mobile {
    display: block;
    margin: 0 auto;
    margin-bottom: 62px;
  }
  .online-form .online-form__checkbox-label-mobile .checkbox-div {
    left: -3%;
  }
  .online-form-wrap {
    padding-bottom: 10px;
  }
  .online-form .checkbox-label {
    color: #ffffff;
    text-align: left;
  }
  .online-form .checkbox-label input {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  .design {
    padding-top: 50px;
    background: #131313;
  }
  .design-title {
    color: #ffffff;
  }
  .design-descr {
    color: #ffffff;
  }
  .design-items {
    margin-bottom: 0;
  }
  .design-steps {
    display: none;
  }
  .team {
    background: #131313;
    margin-top: 55px;
    padding-bottom: 132px;
  }
  .team-title {
    margin-bottom: 20px;
  }
  .team-persons {
    margin-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .team-person {
    margin-bottom: 170px;
  }
  .team-person__foto img {
    width: 304px;
  }
  .team-person__descr {
    width: 80%;
  }
  .team-conclusion {
    display: none;
  }
  .question {
    background: #131313;
  }
  .question-form {
    padding: 0;
  }
  .question-form-title {
    margin-bottom: 52PX;
  }
  .question__checkbox-label .checkbox-div {
    left: 7%;
  }
  .contacts__address {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 330px;
    font-size: 18px;
    line-height: 138.6%;
  }
  .contacts__map {
    padding-bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__map img {
    padding-bottom: 0;
    width: 340px;
    height: 225px;
  }
  .contacts__networks {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fidex-btns {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 10px;
  z-index: 4;
}

.fidex-btns a {
  color: black;
}

.fidex-btn {
  background-color: #BF6D30;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
}