@font-face {
    font-family: "Yeseva One";
    src: url('../fonts/YesevaOne.woff2') format('woff2'),
        url('../fonts/YesevaOne.woff') format('woff'),
        url('../fonts/YesevaOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturaBookC";
    src: url('../fonts/FuturaBookC.woff2') format('woff2'),
        url('../fonts/FuturaBookC.woff') format('woff'),
        url('../fonts/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FuturaDemiC";
    src: url('../fonts/FuturaDemiC-Italic.woff2') format('woff2'),
        url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
        url('../fonts/FuturaDemiC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

