html {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

.bg-portfolio {
	background-color: rgb(159, 207, 203);
}

h2,
h3 {
	margin: 0;
}

img {
	width: 100%;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

section {
	padding: 20px;
}

a,
button {
	outline: 0;
}

a:hover,
button:hover {
	cursor: pointer;
}

.title {
	color: #BF6D30;
	padding-left: 5px;
}

.btn {
	text-decoration: none;
	border: 1px solid transparent;
	font-size: 35px;
	z-index: 5;
	width: 50px;
	height: 50px;
	color: #BF6D30;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

header {
	padding-top: 50px;
	height: 400px;
	background-color: #009E8E;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
}

.header {
	padding: 20px;
}

.header-title {
	margin-bottom: 40px;
	font-size: 36px;
}

.header-img {
	position: absolute;
	right: 5%;
	top: 0%;
	max-width: 250px;
}

.summary-descr>p:last-child {
	line-height: 27px;
}

.contact-title {
	margin-bottom: 35px;
}

.contact-item {
	margin-bottom: 20px;
}

.contact-item a {
	color: #000;
}

.skills-item {
	margin-bottom: 15px;
}

.code-examples-item {
	margin-bottom: 15px;
	list-style-type: square;
}

.code-examples-item a {
	text-decoration: none;
	font-weight: 700;
	color: #00675C;
}

.experience-item {
	margin-bottom: 15px;
}

.english-title {
	padding-bottom: 15px;
}

.english-descr {
	padding-bottom: 60px;
	line-height: 30px;
}

/* dropdown-list */
.dropdown-list-title {
	padding-bottom: 10px;
}

.dropdown-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}

.dropdown-list li {
	background: #009E8E;
	padding: 20px 0 5px 5px;
}

.dropdown-list li a {
	display: block;
	width: 100%;
	padding: 5px 35px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
}

.dropdown-title {
	cursor: pointer;
	padding: 5px;
}

.dropdown-title::after {
	content: "▼";
	padding-left: 11px;
	font-size: 16px;
}

.dropdown-wrap.open .title {
	background-color: #009E8E;
	color: black;
	border-bottom: 4px solid #BF6D30;
}

.dropdown-wrap.open ul {
	display: block;
}

/* slider */
.projects-title {
	padding-bottom: 40px;
}

.projects-slider {
	position: relative;
}

.projects-slide {
	margin: 0 auto;
	width: 100%;
	display: none;
}

.projects-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev {
	left: 5px;
}

.next {
	right: 5px;
}

.projects-active {
	display: flex;
}

.projects-descr-title {
	color: #BF6D30;
	margin-bottom: 30px;
}

.projects-list {
	list-style: none;
	padding-left: 0;
}

.projects-list li {
	margin-bottom: 15px;
}


/* всплывающее описание */
.projects-descr-btn,
.projects-descr-btn-mobile {
	position: absolute;
	top: 10%;
	right: 5px;
}

.projects-descr,
.projects-descr-mob {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	width: 100%;
	height: 100%;
}

.projects-descr-text {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.descr-open {
	display: block;
}

.mobile-slider {
	display: none;
}

.fidex-btns {
	position: fixed;
}

@media(max-width: 1100px) {
	.container {
		width: 760px;
	}

	.header-title {
		font-size: 30px;
	}

	.contact-title {
		font-size: 25px;
	}
}

@media(max-width: 900px) {
	.container {
		width: 575px;
	}

	header {
		height: auto;
		padding-top: 25px;
	}

	.header-img {
		display: none;
	}

	.summary-descr {
		line-height: 25px;
	}

	.projects-slider {
		display: none;
	}

	.mobile-slider {
		display: block;
		position: relative;
	}

	.mobile-slide {
		position: relative;
	}

	.projects-descr-mob {
		width: 200px;
		position: absolute;
		background: black;
		height: 100%;
		width: 100%;
		top: 0;
	}

	.projects-list li {
		margin-bottom: 10px;
	}

	.projects-descr-title {
		margin-bottom: 20px;
	}

	.descr-open {
		display: block;
	}

	.contact {
		padding-bottom: 50px;
	}
}

@media(max-width: 580px) {
	.container {
		width: 320px;
	}

	.title {
		font-size: 20px;
	}

	.header-title {
		font-size: 27px;
		margin-bottom: 30px;
	}

	.contact-title {
		font-size: 23px;
		margin-bottom: 30px;
	}

	.dropdown-list-title {
		font-size: 17px;
	}

	.summary-descr p,
	.skills-list,
	.code-examples-list,
	.experience-list,
	.english-descr,
	.dropdown-list span {
		font-size: 14px;
	}

	.btn {
		font-size: 27px;
		width: 40px;
		height: 40px;
	}

	.projects-list li {
		margin-bottom: 5px;
		font-size: 13px;
	}

	.projects-descr-title {
		margin-bottom: 0;
		margin-top: 5px;
		font-size: 16px;
	}

	.projects-descr-text {
		top: 3%;
		transform: translateX(-50%);
	}
}

/* frame */
.container-iframe {
	margin: 0 auto;
	overflow: scroll;
	overflow-x: hidden;
}

.iframe-wrap {
	height: 0;
}

.theyalow-height {
	height: 1850px;
}

.theyalow-height-mob {
	height: 1551px;
}

.repair-height {
	height: 10055px;
}

.repair-height-mob {
	height: 9435px;
}

.fidex-btns {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 0;
	right: 15px;
	z-index: 5;
}

.fidex-btn {
	background-color: transparent;
	border: 1px solid #BF6D30;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.fidex-btn:hover {
	background-color: rgb(248, 248, 248);
	opacity: 0.5;
}

.change-text,
.btn-back a {
	text-transform: uppercase;
	text-decoration: none;
	color: #BF6D30;
}

.width640 {
	width: 640px;
	height: 1551px;
}

.width375 {
	width: 375px;
}